.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 80%;
  margin: 0 auto 0 0;
  max-height: 100vh;
}

.grid-cell {
    border: 1px solid black;
    aspect-ratio: 1;
}

.grid-cell.water{
  border: 1px solid black;
  background-color: blue;
  aspect-ratio: 1;
}

.grid-cell.hit{
  border: 1px solid black;
  background-color: red;
  aspect-ratio: 1;
}

.grid-cell.miss{
  border: 1px solid black;
  background-color: peachpuff;
  aspect-ratio: 1;
}

.grid-cell.ship{
  border: 1px solid black;
  background-color: green;
  aspect-ratio: 1;
}

.grid-cell:hover {
  cursor: pointer;
}

/* .grid-cell.ship.true,
.grid-cell.water.true {
  background-color: white;
} */

.grid-cell:disabled {
  cursor: not-allowed;
}