* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.player-Board,
.enemy-Board {
  display: grid;
  grid-template-columns: auto 8fr;
  grid-template-rows: auto 8fr 1fr;
}

.board-type {
  grid-column: 2;
  grid-row: 3;
}

.player-board-comp,
.enemy-board-comp {
  grid-column: 2;
  grid-row: 2;
}

.coord-vert {
  grid-column: 1;
  grid-row: 2;
}

.coord-horz {
  grid-column: 2;
  grid-row: 1;
}


